@media  (max-width:1647px) {
	.hero-section__hero-content {
		max-width: 47%;
	}
	.hero-img {
		left: 15vw;
		height: 93%;
		bottom: 0;
	}
	.hero-section-container {
		flex-wrap: nowrap;
	}

}
@media  (max-width:1471px) {
	.hero-section__hero-content {
		max-width: 100%;
		text-align: center;
		align-items: center;
	}
	.hero-text{
		padding-left: 0;
		max-width: 75%;
	}
	.hero-img_bg {
		/* max-width: 100%; */
	}
	.hero-img {
		height: 93%;
		right:28px;
		left: auto;
	}
	.hero-section__img-container {
		padding-left: 0;
		min-width: 96.2%;
		display: flex;
		justify-content: end;
		
	}.about-section-top::before, .about-section-bottom::before {
		left: 2.5vw;
	}
	.hero-section-container::after {
		width: 95vw;
			right: 2.5vw;
	}
	.about-section-bottom::after,.only-here-container::after, .feedback-container::after {
		width: 95vw;	right: 2.5vw;
	}
	.about-section__icon {
		min-width: 85px;
	}
	.hero-section-container {
		flex-wrap: wrap;
	}
}
@media (max-width:1024px) {
	.hero-img {
		height: 78vw;
	}
	.about-section-bottom::after,.feedback-container::after {
		width: 93vw;
		right: 4.3vw;
	}
	.only-here-container::after{
		right: 3vw;
	}
	
	.hero-img_bg {
		max-width: 74.2%;
		min-width: 74.2%;
	}

	.header-container {
		justify-content: center;
	}
	[class$="section__title"], .footer__title {
		font-size: 42px;
	}
	.hero-text{
		max-width: 79%;
		font-size: 36px;
		padding-top: 20px;
	}
	.hero-section__img-container {
		margin-top: 0;
	}
	.about-section__description,.with-us-list__item,[class^="only-here-listl__item"],
	.with-us-list__item_subtitle, .with-us-list__item,.header__phone,.header__phone-icon {
		font-size: 26px;
	}
	.header__phone-icon {
		width: 26px;
		height: 26px;

	}
	.with-us-list__item{
		line-height: 50px;
	}
	.recruitment-list{
		column-count:1;
	}
	.hero-section__hero-content {
		max-width: 80%;
		margin: 0 auto;
	}
	.recruitment-container::after {
		width: 98vw;
	}
	.header__phone {
		width: 100%;
		text-align: center;
	}
	.recruitment-container::after {
		width: 98vw;
	}
}
@media (max-width:956px) {

	.hero-section__img-container {
		padding-left: 0;
		max-width: 96.2%;
	}
	.hero-img {
		height: 89vw;
	}
	.header-container::after,.hero-section-container::before, .feedback-container::before, .only-here-container::before  {
		right: 2vw;
	}
	.hero-img_bg {
		min-width: 82.2%;
	}
	.about-section-bottom::after, .only-here-container::after, .feedback-container::after {
		width: 94vw;
		right: 3.5vw;
	}
}	
@media (max-width:768px) {
	.hero-section__logo{
		width: 50%;
	}
	.hero-text{
		line-height: 50px;
	}
	.hero-text {
    	max-width: 100%;
    	font-size: 28px;
    	line-height: 47px;
	}
	[class$="section__title"], .footer__title {
		font-size: 38px;
	}	
	.hero-img_bg {
		height: 617px;
	}
	.about-section-bottom,.about-section-top {
		padding: 0 80px;
		flex-wrap: wrap;
	}
	.about-section-bottom::after, .only-here-container::after, .feedback-container::after {
		width: 95vw;
		right: 2.5vw;
	}
	[class^="only-here-listl__item"] {
		font-size: 26px;
		padding-left: 124px;
		margin-bottom: 30px
	}
	.about-section__description {
		padding-bottom: 20px;
	}
	.recruitment-list {
		width: 90%;
		/* font-size: 2; */
	}
	.with-us-list__item {
		padding-left: 60px;
	}
	.about-section-bottom{
		padding-bottom: 50px;
	}
	.footer__copy {
		font-size: 26px;
	}
	.only-here-container {
		padding-bottom: 40px;
	}
	.recruitment-list__item, .recruitment-list__item_7, .recruitment-list__item_8 {
			font-size: 26px;
			padding-right: 20px;
			padding-left: 119px;
	}
	.recruitment-container::after {
		width: 97.5vw;
	}
	.about-section__icon {
		height: 120px;
	}
	.with-us-list{
		padding: 30px 0;
	}

	.about-section__description, .with-us-list__item, [class^="only-here-listl__item"], .with-us-list__item_subtitle, .with-us-list__item, .header__phone, .header__phone-icon {
		font-size: 24px;
	}
	.recruitment-list {
		padding: 40px 0 0 0;
	}

	.recruitment-container::before,.about-section-top::before, .about-section-bottom::before {
		left: 0;
	}
	.header-container::after, .hero-section-container::before, .feedback-container::before, .only-here-container::before {
		right: 0;
	}
	.only-here-container::after,.recruitment-container::after,.hero-section-container::after{
		width: 100%;
	}

.hero-section-container::before, .feedback-container::before, .only-here-container::before {
	height: 100%;
}

.about-section-bottom::after, .only-here-container::after, .feedback-container::after {
	width: 100%;
	right: 0;
}

}
@media (max-width:561px) {

	.about-section-bottom::after,.only-here-container::after,.feedback-container::after,.recruitment-container::after,.hero-section-container::after{
		height: 20px;
	}
	.header-container::after{
		height: 74px;
		width: 20px;
	}
	.about-section-bottom::after{
		bottom: -20px;
	}  
	.recruitment-container::after {
		bottom: -15px;
	}
	.hero-section-container {
		padding-bottom: 20px;
	}
	
	.hero-section-container::before, .about-section-top:before, .about-section-bottom::before, .only-here-container::before, .feedback-container::before,.recruitment-container::before {
		width: 20px;
	}
	.hero-img_bg {
		height: 524px;
	}
	.about-section-bottom, .about-section-top {
		padding: 0px 60px;
	}
	[class$="section__title"], .footer__title {
		font-size: 40px;
		line-height: 56px;
		padding-top: 80px;
	}
	.about-section__description, .with-us-list__item, [class^="only-here-listl__item"], .with-us-list__item_subtitle, .with-us-list__item, .header__phone, .header__phone-icon {
		font-size: 21px;
	}
	.hero-text {
		font-size: 24px;
		line-height: 40px;
	}
	.about-section__description {
		font-size: 26px;
		line-height: 50px;
	}
	.hero-img {
		min-height: 91vw;
	}
	.recruitment-container {
		padding: 0 40px;
	}
	.recruitment-list__item, .recruitment-list__item_7, .recruitment-list__item_8 {
		font-size: 23px;
		padding-right: 0px;
		padding-left: 98px;
	}
}
@media (max-width:443px) {
	.hero-img_bg {
		height: 440px;
	}
	.hero-section__hero-content {
		max-width: 80%;
	}
	.hero-text,.about-section__description,.with-us-list__item  {
			font-size: 17px;
			line-height: 31px;
	}
	.hero-section__logo {
		width: 76%;
	}
	.with-us-list__item {
		line-height: 35px;
		font-size: 19px;
	}
	[class$="section__title"], .footer__title {
		font-size: 28px;
		line-height: 40px;
	}
	[class^="only-here-listl__item"] {
		padding-left: 103px;
	}
	.recruitment-list__item::before, .recruitment-list__item_7::before, .recruitment-list__item_8::before {
		left: 50%;
		width: 65px;
		height: 65px;
		transform: translateX(-50%);
	}
	.recruitment-list__item, .recruitment-list__item_7, .recruitment-list__item_8 {
		font-size: 20px;
		margin-bottom: 0;
		text-align: center;
		padding: 77px 0;
	}
	.recruitment-list {
		width: 90%;
	}
	.contacts-icon_wa {
		margin-right: 100px;
	}
	.contacts-list__link svg {
		height: 79%;
		width: 79%;
	}

}
	
	@media (max-width:375px) {
		.hero-img_bg {
			height: 375px;
		}
		.recruitment-list {
			width: 100%;
		}
		.with-us-list__item {
			padding-left: 40px;
			line-height: 32px;
			font-size: 17px;
		}
		.about-section__description, .with-us-list__item, [class^="only-here-listl__item"], .with-us-list__item_subtitle, .with-us-list__item, .header__phone, .header__phone-icon {
			font-size: 18px;
		}
		[class^="only-here-listl__item"] {
			margin-bottom: 20px;
		}

}
@media (max-width: 320px){
	.hero-img_bg {
    	height: 330px;
	}
	.about-section-bottom, .about-section-top {
		padding: 0px 40px;
	}
	[class$="section__title"], .footer__title {
		padding-bottom: 20px;
	}
	.recruitment-list__item, .recruitment-list__item_7, .recruitment-list__item_8 {
		margin-bottom: 40px;
	}

}