*{	
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a{
    text-decoration: none;
	color:#000;
}
html,body {
	margin: 0;
	padding: 0;
	font-family: Roboto ,sans-serif;
	background-color: #FFFFFF;
}
ul{
	list-style-type: none;
}

img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.contacts-list__link svg{
	height: 100%;
	width: 100%;

}
.header__phone,.header__phone-icon,.contacts-list__link path,.header__phone path{
		transition: 0.5s ease-in;
		-webkit-transition: 0.5s ease-in;
		-moz-transition: 0.5s ease-in;
		-ms-transition: 0.5s ease-in;
		-o-transition: 0.5s ease-in;
}
.header__phone-icon{
    vertical-align: middle;
    width: 38px;
    margin-right: 15px;
    height: 46px;
    /* margin-top: 9px; */
	fill: #000;
}
.header__phone{
	font-size: 30px;
	line-height: 50px;
	width: 31.2%;
	transition-property: color;	
}
.header__phone:hover path,.header__phone:hover{
	 color: #FADD47;
	 fill:#FADD47
}
.contacts-list__link {
	-webkit-box-shadow: 14px 79px 90px 35px rgba(0,0,0,0.49);
	-moz-box-shadow: 14px 79px 90px 35px rgba(0,0,0,0.49);
	box-shadow: 14px 79px 90px 35px rgba(0,0,0,0.49);
	border-radius: 100px;
	/* position: absolute; */
}
.fixed-container{
	max-width: 1705px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.header-container{
	justify-content: flex-end;
	position: relative;

}
.header-container::after{
	height: 78px;
 right: 25px;
 top: -23px; 
}
.header-container::after,.hero-section-container::before,.about-section-bottom::after,.about-section-top:before,.about-section-bottom::before,.only-here-container::before,.only-here-container::after,.feedback-container::before,.feedback-container::after,.recruitment-container::before,.recruitment-container::after{
    content: '';
    width: 30px;
    background: #FADD47;
    position: absolute;
	z-index: 5;
}
.hero-section-container::before,.feedback-container::before,.only-here-container::before {
	height: 100%;
	right: 25px;
}
.header{
	padding-top: 20px;
}
.hero-section__hero-content{
	max-width: 49%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.hero-section-container{
	position: relative;
	padding-bottom: 24px;
	/* flex-wrap: nowrap; */
}
.hero-section__logo{
    margin: 9px auto;
}
.hero-text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 60px;
	padding-top: 62px;
	padding-left: 55px;
}

.hero-section__img-container{
	margin-top: 34px;
    padding-left: 10px;
	position: relative;
}
.hero-section-container::after{
	content: '';
    width: 96%;
    background: #FADD47;
    right: 40px;
    bottom: 0;
    height: 30px;
    position: absolute;
}
.hero-img{
	position: absolute;
	left: 28%;
}
.hero-img_bg{
	max-width: 97.2%;
}
[class$="section__title"],.footer__title{
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	padding-top: 148px;
	padding-bottom: 43px;
	color: #fff;
	width: 100%;
    text-align: center;
}
.about-section-top{
	flex-direction: column;
	padding: 0 128px;
	position: relative;
}
.about-section{
	background-color: #000;
}
.about-section__description{
	font-size: 36px;
	line-height: 50px;
	color: #fff;
	max-width: 95%;
	padding-bottom: 82px;
}
.about-section__icon{  
	width: 15%;
	margin-right: 7.7%;
}
.with-us-list__item_subtitle,.with-us-list__item {
    list-style-type: none;
    font-weight: 400;
    color: #fff;
    font-size: 31px;
	padding-bottom: 7px;
    /* line-height: 50px*/
}
.with-us-list__item{
		padding-left: 80px;
		/* padding-top: 7px; */
		position: relative;
		max-width: 96%;
		font-size: 36px;
}
.with-us-list__subtitle {
	font-weight: 400;
    padding-left: 23px;
    padding-top: 6px;

}
.about-section-bottom{
	padding: 0 173px;
	position: relative;
	padding-bottom:95px;
	flex-wrap: nowrap;
}
.with-us-list__item::before{
	content:'\2022';
	color: #fff;
    left: 4%;
	position: absolute;
}
.about-section-bottom::after{
	right: 25px;
    height: 30px;
    bottom: -30px;
    width: 97%
}
.about-section-top::before,.about-section-bottom::before{
    left: 25px;
    height: 100%;
}
.only-here-section__title,.footer__title{
	color: #000;
}
[class^="only-here-listl__item"]{
    font-size: 36px;
    padding-left: 210px;
    color: #000;
    padding-bottom: 23px;
    max-width: 71%;
	position: relative;
}
.only-here-list{
	padding-top: 20px;
	
}
[class^="only-here-listl__item"]::before{
	content: '';
	background-image: url(../img/check.svg);
	position: absolute;
	width: 50px;
	min-height: 50px;
	position: absolute;
	left: 10.6%;
	top: -2px;
	background-position: center;
	background-repeat: no-repeat;
}

.only-here-listl__item_8::before{
	top: 18px ;
}
.only-here-listl__item_9::before{
	top: -9px ;
}
.only-here-container{
	position: relative;
	padding-bottom: 131px;
}
.only-here-container::after, .feedback-container::after {
    height: 30px;
    right: 31px;
    width: 97%;
    bottom: 0;
}
.recruitment-section{
	background-color: #000;
}
.recruitment-container{
	padding: 0 79px;
	justify-content: center;
	position: relative;
	padding-bottom: 82px;
}
.recruitment-list{
		font-size: 30px;
		line-height: 35px;
		color: #fff;
		column-gap: 28px;
		padding: 52px 0 0 0;
		width: 85%;
		/* display: flex; */
		/* margin-right: 66px; */
		column-count: 2;

}
.recruitment-list__item{
	padding-top: 20px;
}
.recruitment-list__item,.recruitment-list__item_7,.recruitment-list__item_8{
	margin-bottom: 78px;
    position: relative;
    vertical-align: middle;
    padding-left: 134px;
    /* padding-top: 44px; */
    width: 100%;
    min-height: 71px;
    min-height: 2;
}
.recruitment-list__item::before,.recruitment-list__item_7::before,.recruitment-list__item_8::before{
    content: '';
    background-image: url(../img/person-avatar.svg);
    width: 84px;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
	left: 0;
	top: 0;
}
.feedback-section__title{
	color: #000;
}
.swiper {
	width: 65%;
    height: 622px;
    /* padding: 9px 1px; */
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 22px;
}
.slide-button{
	height: 97px;
    width: 97px;
    top: 51%;
    position: absolute;
	border: none;
	background: transparent;
	cursor: pointer;
	z-index: 9;
} 
.slide-button-next{
	right: 10.3%;

}
.slide-button-prev{
	left: 10.3%;
}
.feedback-container{
	position: relative;
	padding-bottom: 150px;
}
.footer{
	/* background-color: #000; */
}
.contacts-list{
	display: flex;
    justify-content: center;
	align-items: center;
    width:100%;
    padding-top: 37px;
	padding-bottom: 104px;
}
.contacts-list__item{
	position: relative;
	border-radius: 100px;
    /* max-height: 20%; */
    overflow: hidden;
}
.contacts-icon_wa{
	margin-right: 158px;
}
.footer__copy{
    width: 100%;
    align-self: flex-end;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #fff;
	background-color:#000;
   height: 118px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.recruitment-container::before {
		left: 18px;
		height: 100%;
	}
 .recruitment-container::after {
		height: 30px;
		right: 0px;
		width: 99%;
		bottom: -27px;
	}
