*{	
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,body {
	margin: 0;
	padding: 0;
	font-family: Roboto ,sans-serif;
	background: #FFFFFF;
}

.header__phone-icon{
    vertical-align: middle;
    width: 38px;
    margin-right: 15px;
    height: 46px;
    margin-top: 9px;
}
.header__phone{
	font-size: 30px;
	line-height: 50px;
	width: 31.2%;
}
.fixed-container{
	max-width: 1705px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.header-container{
	justify-content: flex-end;
	position: relative;

}
.header-container::after{
	height: 78px;
 right: 0;
 top: -23px; 
}
.header-container::after,.hero-section-container::before,.about-section-bottom::after,.about-section-top:before,.about-section-bottom::before{
    content: '';
    width: 30px;
    background: #FADD47;
    position: absolute;
}
.hero-section-container::before{
	height: 100%;
	right: 0;
}
.header{
	padding-top: 20px;
}
.hero-section__hero-content{
	max-width: 49%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.hero-section-container{
	position: relative;
	padding-bottom: 24px;
}
.hero-section__logo{
    margin: 9px auto;
}
.hero-text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 60px;
	padding-top: 62px;
	padding-left: 55px;
}

.hero-section__img-container{
	margin-top: 31px;
    padding-left: 10px;
	position: relative;
}
.hero-section-container::after{
    content: '';
    width: 98.5%;
    background: #FADD47;
    right: 0;
	bottom: -1px;
	height: 30px;
    position: absolute;
}
.hero-img{
	position: absolute;
	left: 28%;
}
[class$="section__title"]{
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	padding-top: 148px;
	padding-bottom: 43px;
	color: #fff;
}
.about-section-top{
	flex-direction: column;
	padding: 0 128px;
	position: relative;
}
.about-section{
	background-color: #000;
}
.about-section__description{
	font-size: 36px;
	line-height: 50px;
	color: #fff;
	max-width: 95%;
	padding-bottom: 82px;
}
.about-section__icon{  
	width: 15%;
	margin-right: 7.7%;
}
.with-us-list {
	list-style-type: none;
}
.with-us-list__item_subtitle,.with-us-list__item {
    list-style-type: none;
    font-weight: 400;
    color: #fff;
    font-size: 31px;
	padding-bottom: 7px;
    /* line-height: 50px*/
}
.with-us-list__item{
		padding-left: 80px;
		/* padding-top: 7px; */
		position: relative;
		max-width: 96%;
		font-size: 36px;
}
.with-us-list__subtitle {
	font-weight: 400;
    padding-left: 23px;
    padding-top: 6px;

}
.about-section-bottom{
	padding: 0 173px;
	position: relative;
	padding-bottom:98px;
	flex-wrap: nowrap;
}
.with-us-list__item::before{
	content:'\2022';
	color: #fff;
    left: 4%;
	position: absolute;
}
.about-section-bottom::after{
	right: 59px;
    height: 30px;
    bottom: -28px;
    width: 95%;
}
.about-section-top::before,.about-section-bottom::before{
    left: 25px;
    height: 100%;
}
.only-here-section__title{
	color: #000;
}
/* .hero-section-container{
	justify-content: center;
} */